# Fixture Data

This notebooks aims to combine all the fixture data I found online

In [1]:
import os
import pandas as pd
import numpy as np
from data_process_pipeline import *
import datetime
import math
from utils import *

In [3]:
path = '/Users/marceloyou/Downloads'

In [4]:
df = pd.read_csv(os.path.join(path, 'E0-1.csv'))
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,E0,29/10/2022,15:00,Newcastle,Aston Villa,4,0,H,1,0,...,1.95,-0.75,1.98,1.92,2.00,1.93,2.02,1.97,1.99,1.89
122,E0,29/10/2022,17:30,Fulham,Everton,0,0,D,0,0,...,1.96,-0.25,1.98,1.92,2.00,1.93,2.01,1.94,1.97,1.90
123,E0,29/10/2022,19:45,Liverpool,Leeds,1,2,A,1,1,...,3.25,-2.00,1.97,1.93,2.06,1.93,2.31,1.96,2.02,1.86
124,E0,30/10/2022,14:00,Arsenal,Nott'm Forest,5,0,H,1,0,...,2.49,-1.75,1.84,2.06,1.85,2.06,1.87,2.11,1.84,2.04
125,E0,30/10/2022,16:15,Man United,West Ham,1,0,H,1,0,...,1.98,-0.75,1.92,1.98,1.94,1.98,1.95,2.10,1.92,1.96

In [8]:
special_date_list = [10, 9, 7]

In [17]:

def main():

    fixtures = pd.DataFrame(columns=['Date', 'HomeTeam', 'AwayTeam','Home_score', 'Away_score','Result'])
    start = 2013

    for i in range(10, 0, -1):
    
        df = pd.read_csv(os.path.join(path, f'E0-{i}.csv'))
        df = df[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']]
        df.dropna(inplace=True)
        df['Date'] = df['Date'].astype('string')
        df.rename(columns={'FTHG' : 'Home_score','FTAG':'Away_score','FTR':'Result'}, inplace = True)
        if i in special_date_list:
            df['Date'] = df['Date'].apply(lambda x: datetime.datetime.strptime(x, '%d/%m/%y').strftime("%Y-%m-%d"))
        else:
            df['Date'] = df['Date'].apply(lambda x: datetime.datetime.strptime(x, '%d/%m/%Y').strftime("%Y-%m-%d"))
        df.set_index([[f'{start}-{start+1}'] * df.shape[0]], inplace=True)
        fixtures = pd.concat([fixtures, df], axis = 0)
        start += 1

    return fixtures

In [18]:
fixture = main()

In [19]:
fixture

                 Date    HomeTeam       AwayTeam Home_score Away_score Result
2013-2014  2013-08-17     Arsenal    Aston Villa          1          3      A
2013-2014  2013-08-17   Liverpool          Stoke          1          0      H
2013-2014  2013-08-17     Norwich        Everton          2          2      D
2013-2014  2013-08-17  Sunderland         Fulham          0          1      A
2013-2014  2013-08-17     Swansea     Man United          1          4      A
...               ...         ...            ...        ...        ...    ...
2022-2023  2022-10-29   Newcastle    Aston Villa          4          0      H
2022-2023  2022-10-29      Fulham        Everton          0          0      D
2022-2023  2022-10-29   Liverpool          Leeds          1          2      A
2022-2023  2022-10-30     Arsenal  Nott'm Forest          5          0      H
2022-2023  2022-10-30  Man United       West Ham          1          0      H

[3546 rows x 6 columns]

In [20]:
fixture.dropna(inplace=True)
fixture.shape

(3546, 6)

In [21]:
change_fixture = {'Man City': 'Manchester City', 'Man United': 'Manchester United', 'Newcastle': 'Newcastle United',
       'West Brom':'West Bromwich Albion', 'QPR': 'Queens Park Rangers', 'Wolves': 'Wolverhampton Wanderers',
        "Nott'm Forest": 'Nottingham Forest'}

for i,j in change_fixture.items():
    fixture.loc[fixture['HomeTeam'] == i, 'HomeTeam'] = j 
    fixture.loc[fixture['AwayTeam'] == i, 'AwayTeam'] = j

In [23]:
fixture.index.name = 'Season'
fixture.to_csv('../../../data/fixtures/20132023fixtures_result.csv')

#  Rank Data

In [46]:
from utils import *

In [64]:

table_2013 = pd.read_excel('/Users/marceloyou/Desktop/Xg-Prediction/data/table/table2013.xlsx', header=None)
table_2013.columns = ['Rank', 'Team', 'Gs', 'Weel', 'Pts']
table_2013 = table_2013[['Team','Rank']]
table_2013.index = ['2013-2014'] * table_2013.shape[0] 
table_2013.head()

                Team Rank
2013-2014   Man City   1
2013-2014  Liverpool   2
2013-2014    Chelsea   3
2013-2014    Arsenal   4
2013-2014    Everton   5

In [191]:
table = pd.DataFrame(columns=["Team", "Rank", "W", "G", "GA", "xG"])

for y in range(2014, 2023):
    data = get_current_rank_data('epl', y, None, None)
    year_table = pd.DataFrame(data[1:], columns = data[0])
    year_table['Rank'] = year_table.index + 1
    year_table = year_table[["Team", "Rank", "W", "G", "GA", "xG"]]
    year_table.index = [f'{y}-{y+1}'] * year_table.shape[0]
    table = pd.concat([table, year_table], axis = 0)

table.head()

                        Team Rank   W   G  GA     xG
2014-2015            Chelsea    1  26  73  32  68.64
2014-2015    Manchester City    2  24  83  38  75.82
2014-2015            Arsenal    3  22  71  36  69.80
2014-2015  Manchester United    4  20  62  37  54.21
2014-2015          Tottenham    5  19  58  53  52.39

In [41]:
change_2013 = {'Man City': 'Manchester City', 'Spurs': 'Tottenham', 'Man Utd': 'Manchester United',
             'Newcastle': 'Newcastle United', 'West Brom':'West Bromwich Albion'}

for i, j in change_2013.items():
    table.loc[table['Team'] == i, 'Team'] = j

In [192]:
table.to_csv('../../../data/table/20132023table_stats.csv')

In [193]:
table = pd.read_csv('../../../data/table/20132023table_stats.csv', index_col=[0])
table

                              Team  Rank   W   G  GA     xG
2014-2015                  Chelsea     1  26  73  32  68.64
2014-2015          Manchester City     2  24  83  38  75.82
2014-2015                  Arsenal     3  22  71  36  69.80
2014-2015        Manchester United     4  20  62  37  54.21
2014-2015                Tottenham     5  19  58  53  52.39
...                            ...   ...  ..  ..  ..    ...
2022-2023                 West Ham    16   4  12  17  19.59
2022-2023                  Everton    17   3  11  17  16.22
2022-2023        Nottingham Forest    18   3  11  30  15.53
2022-2023              Southampton    19   3  13  27  16.15
2022-2023  Wolverhampton Wanderers    20   2   8  24  14.23

[180 rows x 6 columns]

# Unify all the team name from two data sources

In [79]:
li1 = fixture['HomeTeam'].unique().tolist()
li2 = table['Team'].unique().tolist()

In [80]:
diff = [x for x in li2 if x not in li1]

In [42]:
correct = table.loc[table.index != '2013-2014', 'Team'].unique().tolist()
l2013 = table.loc[table.index == '2013-2014', 'Team'].unique().tolist()

In [53]:
diff2013 = [x for x in l2013 if x not in correct]
diff2013

[]

In [74]:
difffix = [x for x in li1 if x not in correct]
difffix

[]

# Stats against promote team

In [82]:
fixture = pd.read_csv('../../../data/fixtures/20132023fixtures.csv')
fixture.head()

      Season        Date    HomeTeam           AwayTeam Result
0  2013-2014  2013-08-17     Arsenal        Aston Villa      A
1  2013-2014  2013-08-17   Liverpool              Stoke      H
2  2013-2014  2013-08-17     Norwich            Everton      D
3  2013-2014  2013-08-17  Sunderland             Fulham      A
4  2013-2014  2013-08-17     Swansea  Manchester United      A

In [83]:
unique_team = fixture['HomeTeam'].unique().tolist()

In [84]:
record = {}
new= {}
for i, team in enumerate(unique_team):
    draw,win, game = 0, 0, 0
    for y in range(2014, 2023):
        last_year = fixture.loc[fixture['Season'] == f'{y-1}-{y}', 'HomeTeam'].unique().tolist()
        this_year = fixture.loc[fixture['Season'] == f'{y}-{y+1}', 'HomeTeam'].unique().tolist()
        new_team = [i for i in this_year if i not in last_year]
        if i == 0:
            new[f'{y}-{y+1}'] = new_team
        fixture_year = fixture.loc[(fixture['Season'] == f'{y}-{y+1}')]
        fixture_year = fixture_year.loc[((fixture_year['HomeTeam'] == team) & (fixture_year['AwayTeam'].isin(new_team))) | ((fixture_year['AwayTeam'] == team) & (fixture_year['HomeTeam'].isin(new_team)))]
        win_con = ((fixture_year['HomeTeam'] == team) & (fixture_year['Result'] == 'H')) | ((fixture_year['AwayTeam'] == team) & (fixture_year['Result'] == 'A'))
        draw_con = (fixture_year['Result'] == 'D')
        win += fixture_year.loc[win_con].shape[0]
        game += fixture_year.shape[0]
        draw += fixture_year.loc[draw_con].shape[0]
    print(team, win, game)
    record[team] = [win/game, draw/game]
    

win_newteam = pd.DataFrame(record)
win_newteam.index = ['Win_Percentage_Against_new_team', 'Draw_percentage_Against_new_team']
win_newteam = win_newteam.transpose()

Arsenal 37 51
Liverpool 38 51
Norwich 4 12
Sunderland 4 18
Swansea 9 24
West Bromwich Albion 7 28
West Ham 28 51
Chelsea 33 48
Crystal Palace 25 48
Manchester City 38 50
Aston Villa 11 31
Everton 24 50
Fulham 3 10
Hull 3 10
Newcastle United 15 43
Southampton 24 49
Stoke 11 24
Cardiff 2 4
Tottenham 42 51
Manchester United 29 48
Leicester 30 48
Queens Park Rangers 2 4
Burnley 12 38
Bournemouth 12 30
Watford 14 32
Middlesbrough 1 4
Brighton 10 30
Huddersfield 5 10
Wolverhampton Wanderers 14 25
Sheffield United 4 10
Leeds 9 11
Brentford 3 6
Nottingham Forest 0 2

In [85]:

win_newteam.to_csv('../../../data/fixtures/20142023newteamrecord.csv')

In [86]:
win_newteam = pd.read_csv('../../../data/fixtures/20142023newteamrecord.csv', index_col=[0])
win_newteam

,Win_Percentage_Against_new_team,Draw_percentage_Against_new_team
Arsenal,0.725490,0.156863
Liverpool,0.745098,0.156863
Norwich,0.333333,0.000000
Sunderland,0.222222,0.333333
Swansea,0.375000,0.208333
West Bromwich Albion,0.250000,0.321429
West Ham,0.549020,0.156863
Chelsea,0.687500,0.187500
Crystal Palace,0.520833,0.250000
Manchester City,0.760000,0.180000
Aston Villa,0.354839,0.193548
Everton,0.480000,0.280000
Fulham,0.300000,0.300000
Hull,0.300000,0.300000
Newcastle United,0.348837,0.348837
Southampton,0.489796,0.163265
Stoke,0.458333,0.291667
Cardiff,0.500000,0.000000
Tottenham,0.823529,0.117647
Manchester United,0.604167,0.208333
Leicester,0.625000,0.166667
Queens Park Rangers,0.500000,0.000000
Burnley,0.315789,0.421053
Bournemouth,0.400000,0.266667
Watford,0.437500,0.218750
Middlesbrough,0.250000,0.250000
Brighton,0.333333,0.400000
Huddersfield,0.500000,0.300000
Wolverhampton Wanderers,0.560000,0.280000
Sheffield United,0.400000,0.200000
Leeds,0.818182,0.090909
Brentford,0.500000,0.166667
Nottingham Forest,0.000000,0.000000

# Calculate average of promote team rank

In [78]:
newteam_table = pd.DataFrame(columns=['Team', 'Rank'])
for season, team in new.items():
    table_year = table.loc[(table.index == season) & (table["Team"].isin(team))]
    newteam_table = pd.concat([newteam_table, table_year])

newteam_table

                       Team Rank
2014-2015         Leicester   14
2014-2015           Burnley   19
2015-2016           Watford   13
2015-2016       Bournemouth   16
2015-2016           Norwich   19
2016-2017           Burnley   16
2016-2017              Hull   18
2016-2017     Middlesbrough   19
2017-2018          Brighton   15
2017-2018      Huddersfield   16
2018-2019           Cardiff   18
2018-2019            Fulham   19
2019-2020  Sheffield United    9
2019-2020       Aston Villa   17
2019-2020           Norwich   20
2020-2021             Leeds    9
2020-2021            Fulham   18
2021-2022         Brentford   13
2021-2022           Watford   19
2021-2022           Norwich   20
2022-2023            Fulham    7
2022-2023       Bournemouth   14

In [87]:
newteam_table['Rank'] = newteam_table['Rank'].astype('int32')
newteam_table['Rank'].mean()

15.818181818181818

In [280]:
promote_team_stats = pd.DataFrame(columns=table.columns.to_list())

for y in range(2015, 2023):
    last_year = y - 1
    new_team = [t for t in table.loc[table.index == f'{y}-{y+1}', 'Team'].to_list() if t not in table.loc[table.index == f'{last_year}-{last_year+1}', 'Team'].to_list()]
    df_year = table.loc[(table.index == f'{y}-{y+1}') & (table['Team'].isin(new_team))]
    promote_team_stats = pd.concat([promote_team_stats, df_year])

promote_team_stats

                              Team Rank   W   G  GA     xG
2015-2016                  Watford   13  12  40  50  43.20
2015-2016              Bournemouth   16  11  45  67  38.71
2015-2016                  Norwich   19   9  39  67  39.19
2016-2017                  Burnley   16  11  39  55  35.59
2016-2017                     Hull   18   9  37  80  33.84
2016-2017            Middlesbrough   19   5  27  53  30.93
2017-2018         Newcastle United   10  12  39  47  44.63
2017-2018                 Brighton   15   9  34  54  37.21
2017-2018             Huddersfield   16   9  28  58  32.13
2018-2019  Wolverhampton Wanderers    7  16  47  46  53.06
2018-2019                  Cardiff   18  10  34  69  41.77
2018-2019                   Fulham   19   7  34  81  42.62
2019-2020         Sheffield United    9  14  39  39  45.81
2019-2020              Aston Villa   17   9  41  67  45.09
2019-2020                  Norwich   20   5  26  75  37.23
2020-2021                    Leeds    9  18  62  54  59.26
2020-2021                   Fulham   18   5  27  53  41.06
2020-2021     West Bromwich Albion   19   5  35  76  34.97
2021-2022                Brentford   13  13  48  56  52.89
2021-2022                  Watford   19   6  34  77  39.34
2021-2022                  Norwich   20   5  23  84  31.51
2022-2023                   Fulham    9   5  24  26  21.51
2022-2023              Bournemouth   14   4  18  32  13.32
2022-2023        Nottingham Forest   18   3  11  30  15.53

In [285]:
promote_team_stats.mean().div(38)

/var/folders/zw/7nv8d16j6hg578ch_bvxrqb00000gn/T/ipykernel_17138/1359784608.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  promote_team_stats.mean().div(38)

Rank    0.406798
W       0.232456
G       0.911184
GA      1.530702
xG      0.998246
dtype: float64

# Build a final data set

In [2]:
fixture = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/fixtures/20132023fixtures.csv')
table = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/table/20132023table.csv', index_col=[0])
newteam_df = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/fixtures/20142023newteamrecord.csv', index_col=[0])

In [3]:
fixture['Date'] = pd.to_datetime(fixture['Date'])

In [156]:
data_path = '/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata'
final_df = pd.DataFrame(columns=['a'] * 30)
for y in range(2017, 2023):
    year_team = fixture.loc[fixture['Season'] == f'{y}-{y+1}', 'HomeTeam'].unique().tolist()
    year_df = pd.DataFrame(columns=['a'] * 30)
    for i, team in enumerate(year_team):
        team_df = team_data_pipeline(team, y, y, fixture, table, newteam_df)
        if i == 0:
            year_df.columns = team_df.columns
        year_df = pd.concat([year_df, team_df])
        year_df.drop_duplicates(['id'], inplace = True)
    if y == 2017:
        final_df.columns = year_df.columns
    data_dir = os.path.join(data_path, str(y))
    if not os.path.exists(data_dir):
        os.mkdir(data_dir)
    year_df.to_csv(os.path.join(data_dir, f'{y}_match.csv'))
    final_df = pd.concat([final_df, year_df])

In [162]:
final_df.index.name = 'Season'
final_df.to_csv(os.path.join('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata', '2017-2022match.csv'))

In [163]:
df2014_2016 = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2014-2016match.csv')
df2017_2022 = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2017-2022match.csv')
final_df = pd.concat([df2014_2016, df2017_2022])
final_df.to_csv(os.path.join('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata', '2014-2022match.csv'))

In [166]:
final_df.isna().sum().tail(10)

oppnent_win_rate        0
y                       0
team_recent_goals     449
team_recent_conced    449
team_recent_state     268
team_recent_xG        449
oppo_recent_goals     449
oppo_recent_conced    449
oppo_recent_state     268
oppo_recent_xG        449
dtype: int64

In [151]:
final_df.drop(columns = ['team_recent_goals', 'team_recent_conced',
       'team_recent_state', 'team_recent_xG', 'oppo_recent_goals',
       'oppo_recent_conced', 'oppo_recent_state', 'oppo_recent_xG'], inplace = True)

In [167]:
final_df_sorted = final_df.sort_values(['datetime'])
final_df_sorted.rename(columns={'oppnent_win_rate':'oppo_win_rate'}, inplace=True)

# Process Na and opponent stats(11.15)

In [26]:
def select_team_data(data, team, season):
    return data.loc[(data['Season'] == f'{season}-{season+1}') &((data['opponent'] == team) | (data['team'] == team))]

def cumsm_stat(df, team):
    df['team_score'] = df.apply(lambda x: x['team_score'] if x['team'] == team else x['oppo_score'], axis = 1)
    df['team_conced']  = df.apply(lambda x: x['team_conced'] if x['team'] == team else x['oppo_conced'], axis = 1)
    df['team_xG'] = df.apply(lambda x: x['team_xG'] if x['team'] == team else x['oppo_xG'], axis = 1)
    df['y'] = df.apply(lambda x: x['y'] if x['team'] == team else 1 if (x['team'] != team) and (x['y'] == 0) else 0, axis = 1)
    df['team'] = team
    df = df[['Season', 'id', 'datetime', 'team', 'team_score', 'team_conced', 'team_xG', 'y']]
    df = get_team_recent(5, 'team', df)
    return df


# df = select_team_data(final_df_sorted, 'Chelsea', 2015)
# df = cumsm_stat(df, 'Chelsea')

In [297]:

# change the oppo statistics 
def change_oppo_stats(row, na_data, promote_team_stats):
    if math.isnan(row['team_recent_goals']):
        # deal with na
        season = int(row['Season'].split('-')[0]) - 1
        team_recent_goals = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['team']), 'G'] / 38).values[0] if row['team'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 0.91
        team_recent_conced = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['team']), 'GA'] / 38).values[0] if row['team'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 1.53
        team_recent_xG = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['team']), 'xG'] / 38).values[0] if row['team'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 0.998
        oppo_recent_goals = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['opponent']), 'G'] / 38).values[0]  if row['opponent'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 0.91
        oppo_recent_conced = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['opponent']), 'GA'] / 38).values[0] if row['opponent'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 1.53
        oppo_recent_xG = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['opponent']), 'xG'] /38).values[0] if row['opponent'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 0.998
        if math.isnan(row['team_recent_state']):
            team_recent_state = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['team']), 'W'] / 38).values[0]  if row['team'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 0.232
            oppo_recent_state = (na_data.loc[(na_data.index == f'{season}-{season+1}') & (na_data['Team'] == row['opponent']), 'W'] / 38).values[0] if row['opponent'] not in promote_team_stats.loc[promote_team_stats.index == row['Season'], 'Team'].to_list() else 0.232
        else:
            season = int(row['Season'].split('-')[0]) 
            oppo_data = select_team_data(final_df_sorted, row['opponent'], season)
            oppo_recent_df = cumsm_stat(oppo_data, row['opponent'])
            team_recent_state, oppo_recent_state = row['team_recent_state'],  oppo_recent_df.loc[oppo_recent_df['id'] == row['id'], 'team_recent_state'].values[0]
    else:
        team_recent_goals, team_recent_conced, team_recent_xG, team_recent_state = row['team_recent_goals'], row['team_recent_conced'], row['team_recent_xG'], row['team_recent_state']
        season = int(row['Season'].split('-')[0]) 
        oppo_data = select_team_data(final_df_sorted, row['opponent'], season)
        oppo_recent_df = cumsm_stat(oppo_data, row['opponent'])
        oppo_recent_goals,oppo_recent_conced, oppo_recent_state, oppo_recent_xG = oppo_recent_df.loc[oppo_recent_df['id'] == row['id'], ['team_recent_goals', 'team_recent_conced','team_recent_state', 'team_recent_xG']].values.reshape(4,).tolist()
    return team_recent_goals, team_recent_conced, team_recent_state, team_recent_xG, oppo_recent_goals, oppo_recent_conced, oppo_recent_state, oppo_recent_xG

In [298]:
data = final_df_sorted.loc[final_df_sorted['Season'] != '2014-2015']
data.shape

(2806, 31)

In [299]:
data['team_recent_goals'], data['team_recent_conced'], data['team_recent_state'], data['team_recent_xG'], data['oppo_recent_goals'], data['oppo_recent_conced'], data['oppo_recent_state'], data['oppo_recent_xG'] = zip(*data.apply(lambda x: change_oppo_stats(x,table, promote_team_stats), axis = 1))

/var/folders/zw/7nv8d16j6hg578ch_bvxrqb00000gn/T/ipykernel_17138/2711722833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['team_recent_goals'], data['team_recent_conced'], data['team_recent_state'], data['team_recent_xG'], data['oppo_recent_goals'], data['oppo_recent_conced'], data['oppo_recent_state'], data['oppo_recent_xG'] = zip(*data.apply(lambda x: change_oppo_stats(x,table, promote_team_stats), axis = 1))

In [311]:
data.loc[data.isna().any(axis = 1)]

,Season,id,datetime,result,team,team_xG,team_score,team_conced,home,opponent,...,oppo_win_rate,y,team_recent_goals,team_recent_conced,team_recent_state,team_recent_xG,oppo_recent_goals,oppo_recent_conced,oppo_recent_state,oppo_recent_xG
1410,2020-2021,14469,2020-10-03 16:30:00,d,Leeds,2.566620,1,1,0,Manchester City,...,0.181818,0,0.910000,1.530000,0.666667,0.998000,2.684211,0.921053,NaN,2.689737
1478,2020-2021,14472,2020-10-03 19:00:00,w,Newcastle United,1.956290,3,1,0,Burnley,...,0.750000,1,1.000000,1.526316,0.333333,0.960263,1.131579,1.315789,NaN,1.298684
1313,2020-2021,14471,2020-10-04 15:30:00,w,Tottenham,3.301700,6,1,1,Manchester United,...,0.642857,1,1.605263,1.236842,0.333333,1.290000,1.736842,0.947368,NaN,1.741842
1217,2020-2021,14466,2020-10-04 18:15:00,l,Liverpool,1.657050,2,7,1,Aston Villa,...,0.250000,0,2.236842,0.868421,1.000000,1.978684,1.078947,1.763158,NaN,1.186579
1412,2020-2021,14486,2020-10-23 19:00:00,w,Leeds,2.376950,3,0,1,Aston Villa,...,0.181818,1,1.800000,1.800000,0.333333,1.367741,NaN,NaN,1.000000,NaN
1253,2020-2021,14493,2020-10-24 11:30:00,d,West Ham,0.263739,1,1,0,Manchester City,...,0.857143,0,2.200000,1.400000,0.666667,1.902887,NaN,NaN,0.666667,NaN
1314,2020-2021,14488,2020-10-26 20:00:00,w,Tottenham,0.797344,1,0,1,Burnley,...,0.400000,1,3.000000,1.600000,0.333333,2.273671,NaN,NaN,0.333333,NaN

In [331]:
# manually change the NA
# oppo recent rate
data.loc[data['id'] == 14469, 'oppo_recent_state'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Manchester City'), 'W'] / 38).values[0]
data.loc[data['id'] == 14472, 'oppo_recent_state'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Burnley'), 'W'] / 38).values[0]
data.loc[data['id'] == 14471, 'oppo_recent_state'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Manchester United'), 'W'] / 38).values[0]
data.loc[data['id'] == 14466, 'oppo_recent_state'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Aston Villa'), 'W'] / 38).values[0]
#Aston villa
data.loc[data['id'] == 14486, 'oppo_recent_goals'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Aston Villa'), 'G'] / 38).values[0]
data.loc[data['id'] == 14486, 'oppo_recent_conced'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Aston Villa'), 'GA'] / 38 ).values[0]
data.loc[data['id'] == 14486,  'oppo_recent_xG'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Aston Villa'),  'xG'] / 38).values[0]
# City
data.loc[data['id'] == 14493, 'oppo_recent_goals'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Manchester City'), 'G'] / 38).values[0]
data.loc[data['id'] == 14493, 'oppo_recent_conced'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Manchester City'), 'GA'] / 38 ).values[0]
data.loc[data['id'] == 14493,  'oppo_recent_xG'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Manchester City'),  'xG'] / 38).values[0]
# Burnely
data.loc[data['id'] == 14488, 'oppo_recent_goals'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Burnley'), 'G'] / 38).values[0]
data.loc[data['id'] == 14488, 'oppo_recent_conced'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Burnley'), 'GA'] / 38 ).values[0]
data.loc[data['id'] == 14488,  'oppo_recent_xG'] = (table.loc[(table.index == '2019-2020')&(table['Team'] == 'Burnley'),  'xG'] / 38).values[0]

/Users/marceloyou/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/marceloyou/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)

In [343]:
data.to_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2015-2022matchdata.csv', index = None)

# Change format for data for BT model(11.16)

In [29]:
os.mkdir(os.path.join('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata', 'B-T-Moedl-data'))

In [115]:
final_df = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2014-2016match.csv')
final_df.head()

,Season,id,datetime,result,team,team_xG,team_score,team_conced,home,opponent,...,oppnent_win_rate,y,team_recent_goals,team_recent_conced,team_recent_state,team_recent_xG,oppo_recent_goals,oppo_recent_conced,oppo_recent_state,oppo_recent_xG
0,2014-2015,4755,2014-08-16 17:30:00,w,Arsenal,1.55411,2,1,0,Crystal Palace,...,0.00000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-2015,4764,2014-08-23 17:30:00,d,Arsenal,1.43355,2,2,1,Everton,...,1.00000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-2015,4778,2014-08-31 16:00:00,d,Arsenal,2.29649,1,1,1,Leicester,...,0.27451,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-2015,4719,2014-09-13 12:45:00,d,Arsenal,2.07804,2,2,0,Manchester City,...,1.00000,0,NaN,NaN,0.333333,NaN,NaN,NaN,0.333333,NaN
4,2014-2015,4731,2014-09-20 15:00:00,w,Arsenal,1.36224,3,0,1,Aston Villa,...,0.50000,1,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN

In [98]:
col = final_df_sorted.columns
print(col)
print([s for s in col if 'team' in s])
[s for s in col if 'oppo' in s]

Index(['Season', 'id', 'datetime', 'result', 'team', 'team_xG', 'team_score',
       'team_conced', 'home', 'opponent', 'oppo_xG', 'oppo_score',
       'oppo_conced', 'oppo_home', 'team_shot_attempt', 'oppo_shot_attempt',
       'stage', 'team_rank', 'oppo_rank', 'team_win_rate', 'team_draw_rate',
       'oppo_win_rate', 'y', 'team_recent_goals', 'team_recent_conced',
       'team_recent_state', 'team_recent_xG', 'oppo_recent_goals',
       'oppo_recent_conced', 'oppo_recent_state', 'oppo_recent_xG'],
      dtype='object')
['team', 'team_xG', 'team_score', 'team_conced', 'team_shot_attempt', 'team_rank', 'team_win_rate', 'team_draw_rate', 'team_recent_goals', 'team_recent_conced', 'team_recent_state', 'team_recent_xG']

['opponent',
 'oppo_xG',
 'oppo_score',
 'oppo_conced',
 'oppo_home',
 'oppo_shot_attempt',
 'oppo_rank',
 'oppo_win_rate',
 'oppo_recent_goals',
 'oppo_recent_conced',
 'oppo_recent_state',
 'oppo_recent_xG']

In [117]:
final_df_sorted = final_df.sort_values(['datetime'])
final_df_sorted.head()
final_df_sorted.rename(columns={'oppnent_win_rate':'oppo_win_rate'}, inplace=True)

In [52]:
final_df_sorted[['datetime', 'y', 'team', 'team_xG', 'home', 
       'team_rank', 'team_win_rate', 'opponent', 'oppo_xG', 'oppo_home', 
       'oppo_rank', 'oppo_win_rate']]

,datetime,y,team,team_xG,home,team_rank,team_win_rate,opponent,oppo_xG,oppo_home,oppo_rank,oppo_win_rate
74,2014-08-16 12:45:00,0,Manchester United,1.166350,0,7,1.000000,Swansea,0.278076,1,12,0.000000
198,2014-08-16 15:00:00,0,West Ham,1.853100,0,13,1.000000,Tottenham,1.017060,1,6,0.000000
170,2014-08-16 15:00:00,0,West Bromwich Albion,1.683430,0,17,0.500000,Sunderland,0.991901,1,14,0.500000
140,2014-08-16 15:00:00,0,Stoke,0.423368,0,9,1.000000,Aston Villa,0.909774,1,15,0.000000
108,2014-08-16 15:00:00,0,Queens Park Rangers,1.900670,0,16,0.500000,Hull,1.117570,1,16,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
833,2017-05-21 15:00:00,0,Crystal Palace,0.301600,1,13,0.000000,Manchester United,1.038600,0,6,1.000000
957,2017-05-21 15:00:00,0,Middlesbrough,0.899691,1,19,0.000000,Liverpool,2.169570,0,4,1.000000
983,2017-05-21 15:00:00,0,Southampton,1.355400,0,8,0.285714,Stoke,0.983464,1,14,0.714286
1109,2017-05-21 15:00:00,1,Swansea,1.745550,0,17,0.428571,West Bromwich Albion,1.606740,1,9,0.571429
1029,2017-05-21 15:00:00,0,Bournemouth,0.870720,1,10,0.333333,Leicester,2.453080,0,11,0.666667

In [63]:

def format_for_bt_model(data):
    data = data[['datetime', 'y', 'team', 'team_xG', 'home', 
       'team_rank', 'team_win_rate', 'opponent', 'oppo_xG', 'oppo_home', 
       'oppo_rank', 'oppo_win_rate']]
    for row in data.index.tolist():
        if data.loc[row, 'home'] == 0:
            pass
        else:
    
            data.loc[row, 'y'] = 0 if data.loc[row,'y'] == 1 else 0
            data.loc[row, 'team'], data.loc[row, 'opponent'] = data.loc[row, 'opponent'], data.loc[row, 'team']
            data.loc[row, 'home'], data.loc[row, 'oppo_home'] = data.loc[row, 'oppo_home'], data.loc[row, 'home']
            data.loc[row, 'team_rank'], data.loc[row, 'oppo_rank'] = data.loc[row, 'oppo_rank'], data.loc[row, 'team_rank']
            data.loc[row, 'team_xG'], data.loc[row, 'oppo_xG'] = data.loc[row, 'oppo_xG'], data.loc[row, 'team_xG']
            data.loc[row, 'team_win_rate'], data.loc[row, 'oppo_win_rate'] = data.loc[row, 'oppo_win_rate'], data.loc[row, 'team_win_rate']
    return data

bt_data = format_for_bt_model(final_df_sorted)

74
198
170
140
108
38
0
224
248
270
249
bug1
271
bug1
171
bug1
199
bug1
39
bug1
1
bug1
141
bug1
109
bug1

/Users/marceloyou/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

75
bug1
225
bug1
76
bug1
142
bug1
200
110
250
172
bug1
308
bug1
290
226
bug1
2
bug1
3
251
bug1
272
bug1
374
173
309
40
bug1
227
77
201
bug1
111
252
273
4
bug1
350
bug1
202
41
174
bug1
324
bug1
310
bug1
228
42
bug1
78
368
291
bug1
112
bug1
360
bug1
5
175
143
144
bug1
253
bug1
325
bug1
176
bug1
43
292
79
351
bug1
6
bug1
113
bug1
378
bug1
293
bug1
203
bug1
7
311
bug1
44
bug1
352
114
145
80
bug1
204
229
8
bug1
146
bug1
177
45
bug1
274
254
bug1
81
115
230
bug1
353
bug1
338
147
116
bug1
9
46
82
bug1
294
326
231
47
bug1
275
83
205
117
148
bug1
339
bug1
178
10
bug1
206
bug1
149
179
bug1
48
361
bug1
118
bug1
11
232
bug1
369
295
12
bug1
207
327
bug1
49
bug1
276
84
150
bug1
312
bug1
354
340
bug1
50
85
119
bug1
255
bug1
296
bug1
180
341
313
375
13
256
181
bug1
233
14
bug1
328
bug1
120
342
bug1
208
51
bug1
86
bug1
277
314
151
bug1
182
209
bug1
52
15
87
362
121
bug1
329
bug1
363
bug1
122
343
bug1
278
bug1
53
bug1
88
bug1
257
16
bug1
152
210
bug1
89
183
330
297
bug1
370
bug1
54
153
bug1
234
bug1
17
90
bug1
315
bug1
123
55
bug1
279
bug1
154
18
bug1
298
258
235
91
bug1
124
299
56
bug1
376
bug1
19
bug1
344
bug1
259
184
bug1
316
bug1
236
bug1
125
bug1
345
260
bug1
185
57
211
bug1
331
20
92
237
bug1
377
bug1
58
317
bug1
280
93
bug1
261
212
21
bug1
186
bug1
262
bug1
213
bug1
126
bug1
187
59
bug1
332
281
bug1
318
22
355
23
bug1
371
bug1
127
364
300
60
238
bug1
188
bug1
155
bug1
94
bug1
301
bug1
24
128
bug1
239
214
bug1
95
319
156
189
263
bug1
96
bug1
282
bug1
129
bug1
25
bug1
157
bug1
190
bug1
264
bug1
215
bug1
61
bug1
240
bug1
216
97
265
283
191
158
241
26
372
192
bug1
333
bug1
98
bug1
365
bug1
217
62
bug1
27
bug1
159
242
130
131
bug1
302
bug1
63
28
160
bug1
284
320
266
bug1
99
243
bug1
193
bug1
29
bug1
285
bug1
303
161
64
bug1
218
100
bug1
132
321
bug1
30
133
bug1
65
366
101
346
162
bug1
286
267
bug1
334
134
bug1
347
bug1
163
bug1
304
bug1
356
66
bug1
335
bug1
31
bug1
135
102
244
164
287
bug1
194
bug1
67
103
bug1
219
bug1
268
357
269
336
165
195
68
bug1
136
305
bug1
104
bug1
32
245
bug1
69
70
137
bug1
306
166
bug1
220
358
bug1
105
322
379
33
bug1
348
196
bug1
221
bug1
288
bug1
167
71
106
bug1
138
bug1
246
bug1
34
307
bug1
373
bug1
72
bug1
168
bug1
222
139
247
367
35
bug1
197
36
169
223
bug1
107
bug1
73
359
bug1
323
337
37
349
289
bug1
520
454
488
380
550
418
604
578
628
650
521
bug1
455
bug1
489
bug1
551
bug1
629
bug1
651
bug1
605
bug1
579
bug1
419
bug1
381
bug1
522
490
670
bug1
704
552
382
bug1
420
bug1
688
bug1
456
580
581
bug1
383
630
740
bug1
748
bug1
671
421
457
bug1
553
bug1
523
bug1
422
bug1
384
bug1
652
718
bug1
582
754
524
705
491
606
bug1
423
607
385
458
bug1
653
bug1
492
bug1
749
bug1
730
554
bug1
525
bug1
731
526
493
689
386
bug1
672
bug1
555
bug1
424
bug1
741
459
bug1
654
bug1
387
494
bug1
631
bug1
608
bug1
706
425
460
719
527
bug1
732
461
426
750
bug1
655
495
bug1
388
bug1
583
bug1
556
bug1
632
bug1
496
557
427
bug1
633
673
462
bug1
609
bug1
389
528
690
bug1
428
497
bug1
558
bug1
529
bug1
742
610
584
bug1
463
390
bug1
674
bug1
391
691
bug1
464
bug1
559
530
498
429
bug1
675
585
755
bug1
531
bug1
586
bug1
634
bug1
499
bug1
465
392
bug1
430
758
733
707
bug1
611
bug1
393
692
bug1
635
bug1
676
500
431
bug1
656
bug1
560
720
bug1
636
532
561
bug1
657
677
bug1
587
501
bug1
394
bug1
612
466
467
bug1
721
bug1
637
bug1
708
693
bug1
395
588
bug1
613
bug1
658
bug1
432
bug1
638
396
bug1
468
433
533
694
614
743
722
589
534
bug1
678
709
bug1
434
502
bug1
397
659
bug1
562
bug1
469
bug1
590
bug1
470
615
bug1
723
bug1
563
734
bug1
398
bug1
695
bug1
435
bug1
503
710
751
399
bug1
564
535
591
639
bug1
679
bug1
744
436
bug1
471
680
536
bug1
400
565
bug1
696
437
472
bug1
711
bug1
504
bug1
592
bug1
712
bug1
401
438
660
bug1
616
756
bug1
505
bug1
537
bug1
593
bug1
724
566
506
617
bug1
402
bug1
538
735
bug1
661
752
473
439
bug1
507
594
713
681
bug1
567
539
662
403
bug1
440
bug1
474
508
bug1
714
bug1
475
bug1
618
736
725
568
bug1
697
404
441
540
bug1
745
bug1
698
bug1
569
405
476
442
509
bug1
682
737
bug1
715
bug1
640
443
bug1
510
406
bug1
663
541
726
bug1
444
bug1
407
716
477
bug1
511
595
619
bug1
738
bug1
542
759
bug1
596
bug1
478
570
bug1
408
bug1
699
683
bug1
445
512
bug1
757
543
bug1
571
641
409
684
513
479
446
642
bug1
572
bug1
514
bug1
685
bug1
700
620
410
bug1
544
bug1
447
bug1
597
411
664
bug1
643
573
753
739
bug1
515
480
bug1
598
bug1
574
bug1
481
bug1
621
bug1
448
bug1
412
bug1
665
bug1
516
bug1
545
bug1
644
bug1
482
bug1
575
666
546
622
483
449
413
517
599
645
623
746
bug1
484
bug1
547
600
646
bug1
624
bug1
686
414
601
bug1
518
667
bug1
625
687
bug1
668
415
bug1
647
576
bug1
727
519
bug1
701
450
548
bug1
416
626
bug1
728
bug1
451
bug1
648
bug1
485
bug1
702
bug1
747
bug1
602
bug1
549
bug1
486
bug1
577
452
bug1
649
603
669
717
bug1
453
627
703
487
729
417
bug1
868
930
958
760
834
798
900
1008
984
1030
959
bug1
901
bug1
799
bug1
1031
bug1
869
bug1
761
835
bug1
985
bug1
931
bug1
1009
bug1
1110
800
1068
762
bug1
960
986
bug1
836
870
932
bug1
902
903
bug1
1084
763
801
bug1
1010
1120
bug1
961
bug1
1069
bug1
1032
bug1
837
bug1
1033
764
bug1
871
1128
904
838
1050
bug1
802
962
1111
905
bug1
1051
839
bug1
872
bug1
1085
933
803
bug1
987
963
bug1
765
804
bug1
1098
1011
bug1
934
bug1
1129
bug1
873
1052
964
bug1
906
bug1
766
1034
1086
988
840
bug1
1112
bug1
874
bug1
805
935
767
bug1
1053
bug1
1012
768
936
bug1
875
806
bug1
1134
bug1
1099
1130
bug1
907
1035
989
bug1
908
bug1
876
bug1
937
1070
bug1
769
bug1
807
841
965
1087
770
909
1013
1088
bug1
842
bug1
990
1121
bug1
877
1054
bug1
1071
991
bug1
966
1072
bug1
843
878
bug1
1014
bug1
808
1113
938
771
bug1
772
809
bug1
879
939
bug1
1135
bug1
1036
1089
bug1
992
1055
844
bug1
1073
bug1
910
773
bug1
1122
bug1
1100
bug1
810
993
bug1
1015
845
880
bug1
846
bug1
774
811
bug1
994
1101
911
bug1
1037
940
bug1
1056
1138
bug1
847
1016
775
bug1
941
1038
bug1
812
881
bug1
1102
bug1
967
bug1
912
813
882
bug1
1074
bug1
1123
bug1
942
1057
bug1
968
bug1
776
bug1
913
848
849
bug1
814
bug1
995
777
1058
1103
1017
bug1
883
1090
bug1
969
850
bug1
1075
943
bug1
778
1018
bug1
970
1039
914
bug1
1114
bug1
815
bug1
779
bug1
851
944
1136
884
bug1
1059
bug1
996
bug1
816
1091
1040
bug1
1115
1092
bug1
997
bug1
780
945
bug1
885
817
bug1
1041
bug1
1060
852
1104
bug1
946
1061
bug1
1131
818
1019
915
971
781
bug1
886
bug1
819
bug1
947
782
998
1116
bug1
972
bug1
1042
bug1
916
bug1
887
bug1
853
bug1
999
bug1
854
820
783
bug1
1093
bug1
888
973
948
bug1
917
1062
bug1
889
bug1
1063
821
bug1
974
bug1
855
bug1
1132
bug1
1117
bug1
784
1076
bug1
918
bug1
822
785
bug1
1020
bug1
1043
856
1124
1094
bug1
1077
1021
bug1
823
bug1
975
bug1
890
bug1
949
bug1
786
bug1
1000
bug1
857
bug1
919
bug1
1044
bug1
920
1022
891
858
787
bug1
1001
bug1
1078
bug1
824
859
1045
bug1
788
bug1
1023
950
976
bug1
921
860
bug1
1079
1125
825
bug1
789
1064
892
977
951
bug1
922
bug1
1080
1126
790
861
bug1
1002
826
bug1
893
1105
1024
bug1
923
bug1
1118
978
bug1
1095
791
bug1
1106
bug1
894
bug1
1025
1065
bug1
862
827
1026
bug1
1137
792
bug1
895
bug1
1107
bug1
828
924
bug1
1133
1046
bug1
952
1096
bug1
896
953
bug1
863
bug1
793
829
bug1
979
bug1
1003
954
830
925
1097
897
bug1
1081
bug1
1027
bug1
794
bug1
1066
926
bug1
864
1004
bug1
1127
1119
bug1
831
bug1
1082
898
795
1028
865
bug1
980
bug1
1005
955
bug1
981
866
1047
bug1
927
796
bug1
1108
bug1
956
1006
bug1
832
1139
1067
bug1
1048
1007
928
982
1083
899
797
1049
929
bug1
867
bug1
833
bug1
957
bug1
983
1109
1029
bug1

In [71]:
bt_data.to_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/B-T-Moedl-data/2014_2016bt_data.csv', index = None)

In [351]:
def formatdata_homeaway(data):
    for row in data.index.tolist():
        if data.loc[row, 'home'] == 0:
            pass
        else:
            # need to swap the value
            data.loc[row, 'result'] =  'w' if data.loc[row, 'result'] == 'l' else 'l' if data.loc[row, 'result'] == 'w' else 'd'
            data.loc[row, 'team'], data.loc[row, 'opponent'] = data.loc[row, 'opponent'], data.loc[row, 'team']
            data.loc[row, 'team_rank'], data.loc[row, 'oppo_rank'] = data.loc[row, 'oppo_rank'], data.loc[row, 'team_rank']
            data.loc[row, 'team_xG'], data.loc[row, 'oppo_xG'] = data.loc[row, 'oppo_xG'], data.loc[row, 'team_xG']
            data.loc[row, 'team_win_rate'], data.loc[row, 'oppo_win_rate'] = data.loc[row, 'oppo_win_rate'], data.loc[row, 'team_win_rate']
            data.loc[row, 'team_score'], data.loc[row, 'oppo_score'] = data.loc[row, 'oppo_score'], data.loc[row, 'team_score']
            data.loc[row, 'team_conced'], data.loc[row, 'oppo_conced'] = data.loc[row, 'oppo_conced'], data.loc[row, 'team_conced']
            data.loc[row, 'team_shot_attempt'], data.loc[row, 'oppo_shot_attempt'] = data.loc[row, 'oppo_shot_attempt'], data.loc[row, 'team_shot_attempt']
            data.loc[row, 'team_recent_goals'], data.loc[row, 'oppo_recent_goals'] = data.loc[row, 'oppo_recent_goals'], data.loc[row, 'team_recent_goals']
            data.loc[row, 'team_recent_conced'], data.loc[row, 'oppo_recent_conced'] = data.loc[row, 'oppo_recent_conced'], data.loc[row, 'team_recent_conced']
            data.loc[row, 'team_recent_state'], data.loc[row, 'oppo_recent_state'] = data.loc[row, 'oppo_recent_state'], data.loc[row, 'team_recent_state']
            data.loc[row, 'team_recent_xG'], data.loc[row, 'oppo_recent_xG'] = data.loc[row, 'oppo_recent_xG'], data.loc[row, 'team_recent_xG']
    data['home'], data['oppo_home'] = 0, 1
    data['team_stage'], data['oppo_stage'] = data['stage'], data['stage']
    data.drop(columns = ['y', 'team_draw_rate', 'stage'], inplace = True)
    return data          


    # return data
    # for row in data.itertuples():
    #     if row.home == 0:
    #         # it is in home format no change
    #         pass
    #     else:
    #         row.result = 'w' if row.result == 'l' else 'l' if row.result == 'w' else 'd'
    #         row['team'], row.opponent = row.opponent, row.team
    #         row.team_xG, row.oppo_xG = row.oppo_xG, row.team_xG
    #         row.team_score, row.oppo_score = row.oppo_score, row.team_score
    #         row.team_conced, row.oppo_conced = row.oppo_conced, row.team_conced
    #         row.team_shot_attempt, row.oppo_shot_attempt = row.oppo_shot_attempt, row.team_shot_attempt
    #         row.team_rank, row.oppo_rank = row.oppo_rank, row.team_rank
    #         row.team_win_rate, row.oppo_win_rate = row.oppo_win_rate, row.team_win_rate
    #         row.team_recent_goals, row.oppo_recent_goals = row.oppo_recent_goals, row.team_recent_goals
    #         row.team_recent_conced, row.oppo_recent_conced= row.oppo_recent_conced, row.team_recent_conced
    #         row.team_recent_state, row.oppo_recent_state = row.oppo_recent_state, row.team_recent_state
    #         row.team_recent_xG, row.oppo_recent_xG = row.oppo_recent_xG, row.team_recent_xG
    # data['home'], data['oppo_home'] = 0, 1
    # data.drop(columns = ['y', 'team_draw_rate'], inplace = True)
    # return data

In [103]:
correct_data = formatdata_homeaway(final_df_sorted)

In [352]:
data_20152022 = data
data_20152022.set_index([[i for i in range(data_20152022.shape[0])]], inplace = True)
correct_hw_20152022 = formatdata_homeaway(data_20152022)

/var/folders/zw/7nv8d16j6hg578ch_bvxrqb00000gn/T/ipykernel_17138/2642222160.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['home'], data['oppo_home'] = 0, 1
/var/folders/zw/7nv8d16j6hg578ch_bvxrqb00000gn/T/ipykernel_17138/2642222160.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['team_stage'], data['oppo_stage'] = data['stage'], data['stage']
/Users/marceloyou/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [373]:
correct_hw_20152022['y'] = correct_hw_20152022['result'].apply(lambda x: 1 if x == 'w' else 0)

/var/folders/zw/7nv8d16j6hg578ch_bvxrqb00000gn/T/ipykernel_17138/1771022963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  correct_hw_20152022['y'] = correct_hw_20152022['result'].apply(lambda x: 1 if x == 'w' else 0)

In [374]:
correct_hw_20152022.to_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2015-2022matchdata(training).csv', index = None)

In [366]:
x = correct_hw_20152022['team'].unique()

In [367]:
y = correct_hw_20152022['opponent'].unique()

# Get team winning accuracy(11.17)

In [418]:
table2015 = table.loc[table.index != '2014-2015']
num_of_season = table2015['Team'].value_counts().to_frame()
num_of_win = table2015.groupby('Team')['W'].sum().to_frame()

In [419]:
num_of_win.index.name = None
num_of_season.rename(columns={'Team': 'num_of_season'}, inplace=True)

In [420]:
win_acc_df = num_of_win.join(num_of_season, how = 'inner')

In [421]:
win_acc_df['win_accuracy'] = win_acc_df.apply(lambda x: x['W'] / (x['num_of_season'] * 38), axis = 1)
win_acc_df.drop(columns=['W', 'num_of_season'], inplace = True)
win_acc_df.set_index([list(map(lambda x: 'EPL_' + x, win_acc_df.index.to_list()))], inplace = True)

In [422]:
win_acc_df.index.name = "Team"
win_acc_df.to_csv(os.path.join('/Users/marceloyou/Desktop/Xg-Prediction/data/table', '2015-2022winaccuracy.csv'))

# Modify the features (11.19)

1. Modify the opponent rate
2. Add the cumulative poitns against each other

In [3]:
path  = '/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2015-2022matchdata(training).csv'
training_data = pd.read_csv(path)
fixture_path = '/Users/marceloyou/Desktop/Xg-Prediction/data/fixtures/20132023fixtures.csv'
fixture = pd.read_csv(fixture_path)
againstnewteam = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/fixtures/20142023newteamrecord.csv', index_col=[0])

In [4]:
fixture['Date'] = pd.to_datetime(fixture['Date'])

In [5]:

def get_win_ratio(date, team, opponent, fixture_data, rate_against_new):
    
    fixture_data = fixture_data.loc[fixture_data['Date'] < minus_one_day(str(date).split(' ')[0], return_str=False)]
    select_con = ((fixture_data['HomeTeam'] == team) & (fixture_data['AwayTeam'] == opponent)) |  ((fixture_data['HomeTeam'] == opponent) & (fixture_data['AwayTeam'] == team))
    select_df = fixture_data.loc[select_con]
    
    if select_df.shape[0] >= 1:
        select_df['win'] = select_df.apply(lambda x: 'w' if (x['HomeTeam'] == team and x['Result'] == 'H') or (x['AwayTeam'] == team and x['Result'] == 'A') else 'd' if x['Result'] == 'D' else 'l', axis = 1)
        win = select_df['win'].value_counts().to_frame().loc['w'].values[0] if 'w' in select_df['win'].value_counts().to_frame().index else 0
        draw = select_df['win'].value_counts().to_frame().loc['d'].values[0] if 'd' in select_df['win'].value_counts().to_frame().index else 0
        return win/select_df.shape[0], draw/select_df.shape[0]
    else:
        # no previous give avrage win rate against new team
        return rate_against_new[0], rate_against_new[1]

In [6]:
training_data['oppo_win_rate'], training_data['oppo_draw_rate'] = zip(*training_data.apply(lambda x: get_win_ratio(x['datetime'], x['opponent'], x['team'], fixture, againstnewteam.loc[againstnewteam.index == x['opponent']].values.reshape(2,).tolist()), axis = 1))

In [9]:
# optional for xG predicion: add draw rate for hometam
fixture

         Season       Date           HomeTeam           AwayTeam Result
0     2013-2014 2013-08-17            Arsenal        Aston Villa      A
1     2013-2014 2013-08-17          Liverpool              Stoke      H
2     2013-2014 2013-08-17            Norwich            Everton      D
3     2013-2014 2013-08-17         Sunderland             Fulham      A
4     2013-2014 2013-08-17            Swansea  Manchester United      A
...         ...        ...                ...                ...    ...
3541  2022-2023 2022-10-29   Newcastle United        Aston Villa      H
3542  2022-2023 2022-10-29             Fulham            Everton      D
3543  2022-2023 2022-10-29          Liverpool              Leeds      A
3544  2022-2023 2022-10-30            Arsenal  Nottingham Forest      H
3545  2022-2023 2022-10-30  Manchester United           West Ham      H

[3546 rows x 5 columns]

# How to calculate points acccumated(11.19 Outline)

1. normal
2. add weight
3. new team table(combine with 1)
4. recent points based on point(combine with 2)

# Add acculmuated points(11.21)

In [10]:
fixture['MatchName'] = fixture[['HomeTeam','AwayTeam']].agg(' VS '.join, axis = 1)
fixture.head()

,Season,Date,HomeTeam,AwayTeam,Result,MatchName
0,2013-2014,2013-08-17,Arsenal,Aston Villa,A,Arsenal VS Aston Villa
1,2013-2014,2013-08-17,Liverpool,Stoke,H,Liverpool VS Stoke
2,2013-2014,2013-08-17,Norwich,Everton,D,Norwich VS Everton
3,2013-2014,2013-08-17,Sunderland,Fulham,A,Sunderland VS Fulham
4,2013-2014,2013-08-17,Swansea,Manchester United,A,Swansea VS Manchester United

In [11]:
def get_accumalate_points(team, oppo, date, fixture, dict):
   fixture_data = fixture.loc[fixture['Date'] < minus_one_day(str(date).split(' ')[0], return_str=False)]
   match_patten = [' VS '.join([team, oppo]), ' VS '.join([oppo, team])]
   select_df = fixture_data.loc[fixture['MatchName'].isin(match_patten)]

   if select_df.shape[0] != 0:
      result = {team: 0, oppo: 0}
      for idx, x in select_df.iterrows():
         win_team = x.HomeTeam if x.Result == 'H' else x.AwayTeam if x.Result == 'A' else 'Draw' 
         if win_team == 'Draw':
            result[team] += 1
            
            result[oppo] += 1
         elif win_team == team:
            result[team] += 3
         else:
            result[oppo] += 3
      return result[team], result[team] / select_df.shape[0], result[oppo], result[oppo]/select_df.shape[0]

   else:
        return dict[team][0], dict[team][1], dict[oppo][0], dict[oppo][1]

## Add new record data frame(11.21)

In [67]:
unique_team = fixture['HomeTeam'].unique().tolist()
unique_team = ['Nottingham Forest']
new = {}
for i, team in enumerate(unique_team):
    points, game = 0, 0
    for y in range(2014, 2023):
        last_year = fixture.loc[fixture['Season'] == f'{y-1}-{y}', 'HomeTeam'].unique().tolist()
        this_year = fixture.loc[fixture['Season'] == f'{y}-{y+1}', 'HomeTeam'].unique().tolist()
        new_team = [i for i in this_year if i not in last_year]
        if i == 0:
            new[f'{y}-{y+1}'] = new_team
        fixture_year = fixture.loc[(fixture['Season'] == f'{y}-{y+1}')]
        fixture_year = fixture_year.loc[((fixture_year['HomeTeam'] == team) & (fixture_year['AwayTeam'].isin(new_team))) | ((fixture_year['AwayTeam'] == team) & (fixture_year['HomeTeam'].isin(new_team)))]
        win_con = ((fixture_year['HomeTeam'] == team) & (fixture_year['Result'] == 'H')) | ((fixture_year['AwayTeam'] == team) & (fixture_year['Result'] == 'A'))
        draw_con = (fixture_year['Result'] == 'D')
        points += fixture_year.loc[win_con].shape[0] * 3
        points += fixture_year.loc[draw_con].shape[0]
        game += fixture_year.shape[0]
    record[team] = [points, points/game]
    

win_newteam = pd.DataFrame(record)
win_newteam.index = ['Points_accmulated_Against_new_team', 'Points_per_match_Against_new_team']
win_newteam = win_newteam.transpose()

In [69]:
win_newteam.to_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/fixtures/pointsagainstnewteam.csv')

In [12]:
win_newteam = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/fixtures/pointsagainstnewteam.csv', index_col=[0])
win_newteam

,Points_accmulated_Against_new_team,Points_per_match_Against_new_team
Arsenal,119.0,2.333333
Liverpool,122.0,2.392157
Norwich,12.0,1.000000
Sunderland,18.0,1.000000
Swansea,32.0,1.333333
West Bromwich Albion,30.0,1.071429
West Ham,92.0,1.803922
Chelsea,108.0,2.250000
Crystal Palace,87.0,1.812500
Manchester City,123.0,2.460000
Aston Villa,39.0,1.258065
Everton,86.0,1.720000
Fulham,12.0,1.200000
Hull,12.0,1.200000
Newcastle United,60.0,1.395349
Southampton,80.0,1.632653
Stoke,40.0,1.666667
Cardiff,6.0,1.500000
Tottenham,132.0,2.588235
Manchester United,97.0,2.020833
Leicester,98.0,2.041667
Queens Park Rangers,6.0,1.500000
Burnley,52.0,1.368421
Bournemouth,44.0,1.466667
Watford,49.0,1.531250
Middlesbrough,4.0,1.000000
Brighton,42.0,1.400000
Huddersfield,18.0,1.800000
Wolverhampton Wanderers,49.0,1.960000
Sheffield United,14.0,1.400000
Leeds,28.0,2.545455
Brentford,10.0,1.666667
Nottingham Forest,0.0,0.000000

## Apply the function

In [13]:
def table_to_dict(team, oppo, table):
    return {t: table.loc[table.index == t].values.reshape(2,).tolist() for t in [team, oppo]}

In [14]:
training_data['team_accumalated_points'], training_data['team_points_pergame'], training_data['oppo_accumalated_points'], training_data['oppo_points_pergame'] = zip(*training_data.apply(lambda x: get_accumalate_points(x['team'], x['opponent'], x['datetime'],fixture, table_to_dict(x['team'],x['opponent'], win_newteam)), axis = 1))

In [15]:
training_data.shape

(2806, 36)

# Add recenet state feature(11.23)

1. Give each tima a number to represent competiveness(rank)
2. Calculate

## Split 33 teams into six bins

In [16]:
table = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/table/20132023table.csv', index_col=[0])
table['Rank'] = table['Rank'].astype('int32')

In [17]:
sum_rank = table.groupby('Team')['Rank'].sum().to_frame()
num_of_season = table['Team'].value_counts().to_frame()

In [18]:
sum_rank.index.name = None
num_of_season.rename(columns={'Team':'num_of_season'}, inplace=True)

In [19]:
rank_per_season = sum_rank.join(num_of_season, how = 'inner')

In [20]:
rank_per_season['Rank_per_season'] = rank_per_season['Rank'] / rank_per_season['num_of_season']

In [21]:
rank_per_season.sort_values('Rank_per_season')

                         Rank  num_of_season  Rank_per_season
Manchester City            18             10         1.800000
Chelsea                    40             10         4.000000
Liverpool                  41             10         4.100000
Tottenham                  43             10         4.300000
Manchester United          46             10         4.600000
Arsenal                    47             10         4.700000
Leicester                  81              9         9.000000
Everton                   100             10        10.000000
West Ham                  108             10        10.800000
Wolverhampton Wanderers    56              5        11.200000
Newcastle United          106              9        11.777778
Stoke                      59              5        11.800000
Brentford                  24              2        12.000000
Southampton               120             10        12.000000
Crystal Palace            123             10        12.300000
Swansea                    65              5        13.000000
Brighton                   80              6        13.333333
Leeds                      41              3        13.666667
Bournemouth                83              6        13.833333
Sheffield United           29              2        14.500000
Burnley                   102              7        14.571429
West Bromwich Albion       93              6        15.500000
Watford                    93              6        15.500000
Aston Villa               110              7        15.714286
Fulham                     63              4        15.750000
Sunderland                 67              4        16.750000
Hull                       52              3        17.333333
Huddersfield               36              2        18.000000
Cardiff                    38              2        19.000000
Middlesbrough              19              1        19.000000
Norwich                    77              4        19.250000
Queens Park Rangers        20              1        20.000000
Nottingham Forest          20              1        20.000000

In [22]:
rank_per_season['quantile1'] = pd.qcut(rank_per_season['Rank_per_season'], q = 6, labels=[6,5,4,3,2,1])
rank_per_season

                         Rank  num_of_season  Rank_per_season quantile1
Arsenal                    47             10         4.700000         6
Aston Villa               110              7        15.714286         2
Bournemouth                83              6        13.833333         3
Brentford                  24              2        12.000000         4
Brighton                   80              6        13.333333         4
Burnley                   102              7        14.571429         3
Cardiff                    38              2        19.000000         1
Chelsea                    40             10         4.000000         6
Crystal Palace            123             10        12.300000         4
Everton                   100             10        10.000000         5
Fulham                     63              4        15.750000         2
Huddersfield               36              2        18.000000         1
Hull                       52              3        17.333333         2
Leeds                      41              3        13.666667         3
Leicester                  81              9         9.000000         5
Liverpool                  41             10         4.100000         6
Manchester City            18             10         1.800000         6
Manchester United          46             10         4.600000         6
Middlesbrough              19              1        19.000000         1
Newcastle United          106              9        11.777778         5
Norwich                    77              4        19.250000         1
Nottingham Forest          20              1        20.000000         1
Queens Park Rangers        20              1        20.000000         1
Sheffield United           29              2        14.500000         3
Southampton               120             10        12.000000         4
Stoke                      59              5        11.800000         4
Sunderland                 67              4        16.750000         2
Swansea                    65              5        13.000000         4
Tottenham                  43             10         4.300000         6
Watford                    93              6        15.500000         3
West Bromwich Albion       93              6        15.500000         3
West Ham                  108             10        10.800000         5
Wolverhampton Wanderers    56              5        11.200000         5

In [23]:
bonus_list = rank_per_season.loc[rank_per_season['quantile1'] == 6].index.to_list()
bonus_list

['Arsenal',
 'Chelsea',
 'Liverpool',
 'Manchester City',
 'Manchester United',
 'Tottenham']

In [24]:
final_df = pd.read_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2014-2022match.csv', index_col=[0])
final_df['datetime'] = pd.to_datetime(final_df['datetime'])
final_df_sorted = final_df.sort_values(['datetime'])

In [27]:
def calcualte_recent_points(df, team, bonus, bonus_list):
    def points(x, team, bonus, bonus_list):
        if team == x['team']:
            if x['result'] == 'l':
                points = 0 
            elif x['result'] == 'd':
                points = 1 + bonus if x['opponent'] in bonus_list else 1
            else:
                points = 3 + bonus if x['opponent'] in bonus_list else 3
        else:
            if x['result'] == 'l':
                points = 3 + bonus if x['team'] in bonus_list else 3 
            elif x['result'] == 'd':
                points = 1 + bonus if x['team'] in bonus_list else 1
            else:
                points = 0
        return points
    df['points'] = df.apply(lambda x: points(x, team,bonus,bonus_list), axis = 1)
    df = df[['Season','id', 'datetime', 'points']]
    df['recent_game_points'] = df['points'].rolling(3, closed = 'left').sum()
    return df
    
def add_recent_points(row,  bonus, bonus_list):
    season = int(row['Season'].split('-')[0])
    team_data, oppo_data = select_team_data(final_df_sorted, row['team'], season), select_team_data(final_df_sorted, row['opponent'],season)
    na_list = team_data.iloc[0:3].id.to_list()
    team_recent_df = calcualte_recent_points(team_data, row['team'], bonus, bonus_list)
    oppo_recent_df = calcualte_recent_points(oppo_data, row['opponent'], bonus, bonus_list)
    if row['id'] in na_list:
        # need last season to support
        last_season = season - 1
        team_data, oppo_data = select_team_data(final_df_sorted, row['team'], last_season), select_team_data(final_df_sorted, row['opponent'], last_season)
        # no last team data construct a new data frame with stats
        # if team_data.shape[0] == 0:
        #     team_last_recent_df, oppo_last_recent_df = pd.DataFrame({'team':[row['team']]*3, 'points': [0.964] * 3})
        # elif oppo_data.shape[0] == 0:
        #     oppo_last_recent_df = pd.DataFrame({'team':[row['team']]*3, 'points': [0.964] * 3})
        # else:
        #     team_last_recent_df = calcualte_recent_points(team_data, row['team'], bonus, bonus_list)
        #     oppo_last_recent_df = calcualte_recent_points(oppo_data, row['opponent'], bonus, bonus_list)
        team_last_recent_df =  calcualte_recent_points(team_data, row['team'], bonus, bonus_list) if team_data.shape[0] != 0 else pd.DataFrame({'team':[row['team']]*3, 'points': [0.964] * 3})
        oppo_last_recent_df =  calcualte_recent_points(oppo_data, row['opponent'], bonus, bonus_list) if oppo_data.shape[0] != 0 else pd.DataFrame({'team':[row['team']]*3, 'points': [0.964] * 3})
        if row['id'] == na_list[0]:
            team_recent_points, oppo_recent_points = team_last_recent_df.iloc[-3:].points.sum(), oppo_last_recent_df.iloc[-3:].points.sum()
        elif row['id'] == na_list[1]:
             team_recent_points, oppo_recent_points = team_last_recent_df.iloc[-2:].points.sum() + team_recent_df.iloc[0].points, oppo_last_recent_df.iloc[-2:].points.sum() + oppo_recent_df.iloc[0].points
        else:
             team_recent_points, oppo_recent_points = team_last_recent_df.iloc[-1].points + team_recent_df.iloc[:2].points.sum(), oppo_last_recent_df.iloc[-1].points + oppo_recent_df.iloc[:2].points.sum()   
    else:
        team_recent_points,oppo_recent_points = team_recent_df.loc[team_recent_df['id'] == row['id'], 'points'].values[0], oppo_recent_df.loc[oppo_recent_df['id'] == row['id'], 'points'].values[0]
    return team_recent_points, oppo_recent_points

        

training_data['team_recent_points'], training_data['oppo_recent_points'] = zip(*training_data.apply(lambda x: add_recent_points(x, bonus=1, bonus_list=bonus_list), axis = 1))

In [199]:
# promote team stats
np.mean([41,30,33,42,34,45,40,34,28,40,44,37,26,57,34,35,21,54,28,26,59,46,23,22]) / 38

0.9638157894736842

In [28]:
training_data.columns

Index(['Season', 'id', 'datetime', 'result', 'team', 'team_xG', 'team_score',
       'team_conced', 'home', 'opponent', 'oppo_xG', 'oppo_score',
       'oppo_conced', 'oppo_home', 'team_shot_attempt', 'oppo_shot_attempt',
       'team_rank', 'oppo_rank', 'team_win_rate', 'oppo_win_rate',
       'team_recent_goals', 'team_recent_conced', 'team_recent_state',
       'team_recent_xG', 'oppo_recent_goals', 'oppo_recent_conced',
       'oppo_recent_state', 'oppo_recent_xG', 'team_stage', 'oppo_stage', 'y',
       'oppo_draw_rate', 'team_accumalated_points', 'team_points_pergame',
       'oppo_accumalated_points', 'oppo_points_pergame', 'team_recent_points',
       'oppo_recent_points'],
      dtype='object')

In [29]:
training_data.to_csv('/Users/marceloyou/Desktop/Xg-Prediction/data/matchdata/2015-2022matchdata(modified).csv')